<!DOCTYPE HTML>
<html>
<body>
<h1>{{short_url}}</h1>
<div id="player"></div>
<script>
    //Load player api asynchronously.
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    var done = false;
    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height      : '390',
          width       : '640',
		  playerVars  : { 
			  controls       : 0,
			  iv_load_policy : 3,
			  rel            : 0,
			  showinfo       : 0,
			  modestbranding : 0,
			  loop           : 1,
			  playlist       : '{{videoid}}'
			},
          videoId     : '{{videoid}}',
          events      : {
            'onReady'       : onPlayerReady,
            'onStateChange' : onPlayerStateChange
          }
        });
    }
    function onPlayerReady(evt) {
		{{#if mute}}
			player.mute();
		{{/if}}
        evt.target.playVideo();
    }
    function onPlayerStateChange(evt) {
		var audio_tag = document.getElementById('audio_tag');
		if(evt.data === 1){
			audio_tag.play();
			{{#if playbackrate}}
				player.setPlaybackRate({{playbackrate}});
			{{/if}}
		}
		else if (evt.data === 2){
			setTimeout(function(){
				if(player.getPlayerState() !== 1)
					audio_tag.pause();
			},1000);
		}
    }
    function stopVideo() {
        player.stopVideo();
    }
</script>
<audio id="audio_tag" loop="loop">
  <source src="/sounds/{{soundtrack}}.ogg" type="audio/ogg"  />
</audio>
</body>
</html>

